/target
/ui/node_modules
/ui/dist

# Project exclude paths
/node_modules/
/src-tauri/target/
/src-tauri/downloads/
/src-tauri/config/
/bin/
/downloads/
/download_cache/
/progress/
/config/
/logs/
/buddy/
/RELEASE/
/.claude/
/.codebuddy/
/.vscode/
/.idea/

/zoo/

/ui/src/components/settings/proxy-test/target/
/extension/dist/

# Files

RELEASE*.md
zoo.md

buddy*.md
